*{
    list-style: none;
}

#meal-list  img {
    width : 200px;
}
#meal-details img{
    width : 200px;
    border-radius: 10px;
}
#meal-details{
    text-align : left;
    padding-left: 40%;
}
.items{
    border : 2px solid goldenrod;
    border-radius : 10px;
    text-align : center;
    font-weight : 200;
}
#meal-list{
    margin: 10px 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
.footer p {
    text-align: center;
    text-shadow: 20px solid red;
}